{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": true
      }
    }
  ]
}